{% extends 'base.html' %}

{% block title %}
厂商: {{ object.name }}
{% endblock %}

{% block navbar %}
{% include 'film/navbar.html' %}
{% endblock %}

{% block content %}
<div class="container d-flex flex-wrap">
  <h2>
    厂商: {{ object.name }}
    <a href="{% url 'actor-update' object.url %}"><span class="badge bg-primary">编辑</span></a>
    <a href="{% url 'actor-delete' object.url %}"><span class="badge bg-danger">删除</span></a>
  </h2>
  {% include 'film/tag_filter.html' %}
  <div class="break" style="flex-basis: 100%;height: 0"></div>
  {% for f in object.film.all|dictsortreversed:"year" %}
  {% include 'film/film_card.html' %}
  {% endfor %}
</div>
{% endblock %}